<div id='actions'>
  <ul>
    <li>
      <%= link_to "Manage Blog", admin_blogs_url, :class => "back_icon" %>
    </li>
  </ul>
</div>
<div id='records'>
  <% if @blog_settings.present? and @blog_settings.any? %>
    <%= will_paginate @blog_settings, :previous_label => '&laquo;', :next_label => '&raquo;' %>
     <ul id='sortable_list'>
      <%= render :partial => 'blog_setting', :collection => @blog_settings %>
     </ul>
    <%= will_paginate @blog_settings, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  <% end %>
</div>