<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, blog_url(:format => 'rss'), {:title => "#{RefinerySetting.find_or_set(:site_name, "Company Name")} Blog"}) %>
<% end %>

<% content_for :body_content_left do %>
  <div class="blog_posts">
    <%= render :partial => 'blog_post', :collection => @blogs %>
  </div>
<% end %>

<% content_for :body_content_right do %>
  <%= render :partial => 'side_body' -%>
<% end %>

<%= render :partial => "/shared/content_page" %>
