<div id='actions'>
  <ul>
    <li>
      <%= render :partial => "/shared/admin/search", :locals => {:url => admin_blogs_url} %>
    </li>
    <li>
      <%= link_to "Create new post", new_admin_blog_url, :class => "add_icon" %>
    </li>
    <li>
      <%= link_to "Moderate comments (#{Comment.unmoderated.count} unmoderated)", admin_comments_url, :class => "user_comment_icon" %>
    </li>
    <li>
      <%= link_to "Edit settings", admin_blog_settings_url, :class => "edit_icon" %>
    </li>
  </ul>
</div>